.map-container {
  position: relative;
  width: 600px;
  height: 600px;
}

.map-container [data-tooltip] {
  position: relative;
}

.map-container [data-tooltip]::after {
  content: attr(data-tooltip);
  position: absolute;
  background-color: rgba(0, 0, 0, 0.7);
  color: #fff;
  padding: 5px;
  border-radius: 3px;
  white-space: nowrap;
  opacity: 0;
  transition: opacity 0.3s;
  pointer-events: none;
  transform: translate(-50%, -100%);
  left: 50%;
  bottom: 100%;
}

.map-container [data-tooltip]:hover::after {
  opacity: 1;
}

.cls-2 {
  fill: #006b8f; 
  stroke: black;
  stroke-width: .5px; 
  transition: fill 0.3s ease; 
}

.cls-2:hover {
  fill: #006dbb72; 
}
